.public-lb {
    padding-bottom: 122px;
    font-family: 'Courier New OS', Courier, monospace;

    &__desc {
        text-align: justify;
        max-width: 80%;
        margin: 0 auto;
        font-size: 32px;
        font-weight: bold;
        line-height: 52px;
        margin-bottom: 72px;

        @media (max-width: 767px) {
            margin-top: 72px;
        }
    }

    &__title {
        text-align: center;
        @media (max-width: 767px) {
            margin: 0 auto 32px;
        }

        margin: 0 auto 128px;
        width: 100%;
        font-family: "Medula One",
        system-ui;
        font-size: clamp(64px, 10vw, 160px);
        font-weight: normal;

        filter: drop-shadow(0em 0em 0.017405em rgba(247, 7, 7, 0.950000)) drop-shadow(0em 0em 0.087025em rgba(247, 38, 38, 0.750000)) drop-shadow(0em 0em 0.261075em rgba(247, 38, 38, 0.440000)) drop-shadow(0em 0em 0.017405em rgba(247, 7, 7, 0.950000));

        color: #fd9c9c;
        
    }
    
    .cursor {
        @media (min-width: 1023px) {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }

            .carrousel {
                &::before {
                    display: none;
                }
    
                &::after {
                    display: none;
                }

                overflow: visible;
                border: none;
                padding: 0;
                
                a {
                    img {
                        border: 4px solid #fff;
                        border-radius: 18px;
                        width: 100%;
                    }
                }
            }

            width: 95%;

        }

        margin: 0 auto;
        position: relative;
        width: 100%;
        
        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 15px);
            left: 0;
            // color: #fff;
            // font-size: 22px;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // text-shadow: 0 0 1px #eee;
            z-index: 1;
            // border-radius: 50%;
            // padding: 2px;
            // font-family: 'Courier New', Courier, monospace;
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 15px solid #fff;
            border-left: 0;
        }
        &::after {
            content: '';
            position: absolute;
            top: calc(50% - 15px);
            right: 0;
            z-index: 1;
            width: 0;
            height: 0;
            border-style: solid;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 15px solid #fff;
            border-left: 0;
            transform: rotate(0.5turn);
        }
    }

    .carrousel {
        position: relative;
        display: flex;
        justify-content: center;
        column-gap: 16px;
        overflow: hidden;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: 16px;
        
        &::before {
            content: '';
            position: absolute;
            background: linear-gradient(90deg, #000000ee, #000000a4, #00000075, #00000000);
            top: 0;
            left: 0;
            height: 100%;
            width: 20%;
        }

        &::after {
            content: '';
            position: absolute;
            background: linear-gradient(90deg, #00000000, #00000075, #000000a4, #000000ee);
            top: 0;
            right: 0;
            width: 18%;
            height: 100%;
        }
        
        a {
            img {
                max-width: clamp(270px, 60vw, 460px);
                // width: 100%;
            }
            h3 {
                margin-top: 8px;
                text-align: center;
                text-decoration: underline;
                font-size: clamp(18px, 4vw, 22px);
                font-weight: bold;
            }
        }
    }
}