.public-lb {
    padding-top: 3rem;

    &__title {
        margin: 0 auto;
        
        text-align: center;
        font-family: "Medula One", system-ui;
        font-size: 64px;
        font-weight: normal;

        filter: drop-shadow(0em 0em 0.017405em rgba(247, 7, 7, 0.950000)) drop-shadow(0em 0em 0.087025em rgba(247, 38, 38, 0.750000)) drop-shadow(0em 0em 0.261075em rgba(247, 38, 38, 0.440000)) drop-shadow(0em 0em 0.017405em rgba(247, 7, 7, 0.950000));
        
        position: relative;
        color: #fd9c9c;
        
    }
}