@use 'variables';
@use 'header';
@use 'hero';
@use 'public-lb';
@use 'cards';
@use 'store';
@use 'footer';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    list-style: none;
    font-family: 'Courier New OS', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
        width: 90%;
    }

    @media screen and (min-width: 768px) and (max-width: 1023px) {
        width: 92%;
    }
    
    @media screen and (max-width: 767px) {
        width: 92%;
    }
}

.main,
.footer {
    background: variables.$mainBack;
}